@import "../../vars.css";

.container {
  position: relative;
  background-color: rgba(12, 12, 12, 0.6);
  border-radius: 12px;
  padding: 65px;
  margin: 110px 8%;
  z-index: 1;
}

.title {
  color: var(--color-text);
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px; /* Added gap for better spacing */
}

.aboutImage {
  width: 30%;
  max-width: 100%; /* Ensure image is responsive */
}

.aboutItems {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.aboutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 25px;
  background-image: linear-gradient(
    90deg,
    rgba(165, 215, 232, 0.42) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.4s; /* Specify property for clarity */
}

.aboutItem:hover {
  background-size: 100% 100%;
}

.aboutItem h3 {
  font-size: 25px;
  font-weight: 600;
  margin: 0; /* Reset margin for consistency */
}

.aboutItem p {
  font-size: 20px;
  margin: 0; /* Reset margin for consistency */
}

@media screen and (max-width: 830px) {
  .container {
    background-color: transparent;
    padding: 0; /* Simplified padding reset */
  }

  .content {
    flex-direction: column;
  }

  .aboutImage {
    display: none; /* Hide image for small screens */
  }

  .aboutItems {
    margin-top: 25px;
  }

  .aboutItem {
    padding: 15px; /* Reduced padding for smaller screens */
    gap: 15px; /* Adjust gap for smaller items */
  }

  .aboutItem h3 {
    font-size: 22px; /* Slightly smaller font size */
  }

  .aboutItem p {
    font-size: 18px; /* Slightly smaller font size */
  }
}
